body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #F8F5E9;
  color: #0F3D2E;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo {
  width: 200px;
  margin: auto;
}
nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #0F3D2E;
  font-weight: bold;
}

nav a:hover {
  color: #D4AF37;
}

.hero {
  background: linear-gradient(rgba(15,61,46,0.7), rgba(15,61,46,0.7)),
  url("https://images.unsplash.com/photo-1546069901-ba9599a7e63c") center/cover;
  color: white;
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero p {
  margin: 20px 0;
  font-size: 1.2rem;
}

.btn {
  background: #D4AF37;
  color: #0F3D2E;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  background: #b9972e;
}

.servicios {
  padding: 80px 0;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0;
  color: #1E5631;
}

.card p {
  padding: 0 20px 20px;
}

.galeria {
  padding: 80px 0;
  background: #F2F2F2;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.grid img {
  width: 100%;
  border-radius: 10px;
  height: 250px;
  object-fit: cover;
  transition: 0.3s;
}

/*.grid img:hover {
  transform: scale(1.05); 
}*/

.contacto {
  padding: 80px 0;
  text-align: center;
  background: #1E5631;
  color: white;
}

footer {
  background: #0F3D2E;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    display: none;
  }

  .hero h1 {
    font-size: 1.8rem;
  }
}
p.galeria{
  font-size: 18px;
  color: #0F3D2E;
  margin-top: 10px;
  display: flex;
  justify-content: start;
  padding: 10px 20px;
  background-color: #e7e1da;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  
}
.galerias{
  background-color: #e7e1da;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  
}
a{
  text-decoration: none;
  color: inherit;
}
.galerias h3{
  font-size: 22px;
  color: #0F3D2E;
  margin-bottom: -10px;
  display: flex;
  justify-content: start;
  padding: 10px 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
} 

.galerias:hover{
  transform: scale(1.05);
  
}
